@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
  text-align: center;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #9400D3;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 5rem;
  border-radius: 6px;
}

todo-input {
  outline:block ;
  background:none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.TodoForm {
  width: 100%;
}

.todo-input::placeholder {
  /* color: #ffffff4d; */
  visibility: visible;

}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.todo-btn {
  background: #9400D3;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
  border-radius: 4px;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.fa-trash {
  margin-left: 0.75rem;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-link {
  color: #61dafb;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
